@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Engagement);
.cb-host {
  position: relative;
  -webkit-font-smoothing: antialiased;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
}
.cb-host a.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.cb-host a.cube figure {
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.cb-host a.cube .f {
  background-image: url(img/presents.png);
  background-position: 0px 0px;
  background-color: #999999;
}
.cb-host a.cube .b {
  background-image: url(img/inside.png);
  background-position: 0px 0px;
  background-color: #333333;
}
.cb-host a.cube .f.fr {
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  background-image: url(img/presents.png);
  background-position: -200px 0px;
  background-color: #cccccc;
}
.cb-host a.cube:not(.compat) .f.fr {
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.cb-host a.cube .b.fr {
  transform: rotateX(180deg) translateZ(-50px);
  -webkit-transform: rotateX(180deg) translateZ(-50px);
  -moz-transform: rotateX(180deg) translateZ(-50px);
  -ms-transform: rotateX(180deg) translateZ(-50px);
  -o-transform: rotateX(180deg) translateZ(-50px);
  background-color: #000000;
}
.cb-host a.cube .f.bk {
  transform: rotateY(180deg) translateZ(50px);
  -webkit-transform: rotateY(180deg) translateZ(50px);
  -moz-transform: rotateY(180deg) translateZ(50px);
  -ms-transform: rotateY(180deg) translateZ(50px);
  -o-transform: rotateY(180deg) translateZ(50px);
  background-color: #666666;
}
.cb-host a.cube .b.bk {
  transform: translateZ(-50px);
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -ms-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
  background-color: #666666;
}
.cb-host a.cube .f.bt {
  transform: rotateX(270deg) translateZ(50px);
  -webkit-transform: rotateX(270deg) translateZ(50px);
  -moz-transform: rotateX(270deg) translateZ(50px);
  -ms-transform: rotateX(270deg) translateZ(50px);
  -o-transform: rotateX(270deg) translateZ(50px);
  background-image: url(img/presents.png);
  background-position: -400px 0px;
}
.cb-host a.cube .b.bt {
  transform: rotateX(90deg) translateZ(-50px);
  -webkit-transform: rotateX(90deg) translateZ(-50px);
  -moz-transform: rotateX(90deg) translateZ(-50px);
  -ms-transform: rotateX(90deg) translateZ(-50px);
  -o-transform: rotateX(90deg) translateZ(-50px);
}
.cb-host a.cube .f.rt {
  transform: rotateY(90deg) translateZ(50px);
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -ms-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  background-color: #808080;
  background-image: url(img/presents.png);
  background-position: -300px 0px;
}
.cb-host a.cube .b.rt {
  transform: rotateY(270deg) translateZ(-50px);
  -webkit-transform: rotateY(270deg) translateZ(-50px);
  -moz-transform: rotateY(270deg) translateZ(-50px);
  -ms-transform: rotateY(270deg) translateZ(-50px);
  -o-transform: rotateY(270deg) translateZ(-50px);
  background-color: #4d4d4d;
}
.cb-host a.cube .f.lt {
  transform: rotateY(270deg) translateZ(50px);
  -webkit-transform: rotateY(270deg) translateZ(50px);
  -moz-transform: rotateY(270deg) translateZ(50px);
  -ms-transform: rotateY(270deg) translateZ(50px);
  -o-transform: rotateY(270deg) translateZ(50px);
  background-color: #b3b3b3;
  background-image: url(img/presents.png);
  background-position: -100px 0px;
}
.cb-host a.cube .b.lt {
  transform: rotateY(90deg) translateZ(-50px);
  -webkit-transform: rotateY(90deg) translateZ(-50px);
  -moz-transform: rotateY(90deg) translateZ(-50px);
  -ms-transform: rotateY(90deg) translateZ(-50px);
  -o-transform: rotateY(90deg) translateZ(-50px);
  background-color: #1a1a1a;
}
.cb-host a.cube .f.fr .num {
  font-weight: bold;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 42px;
  margin-top: 25px;
  color: #ff9933;
}
.cb-host a.cube .message {
  padding: 5px;
  background: #fff;
  border: solid 1px #999;
  width: 110px;
  height: 90px;
}
.cb-host a.cube:not(.compat) .message {
  transform: translateY(0px) rotateY(45deg);
  -webkit-transform: translateY(0px) rotateY(45deg);
  -moz-transform: translateY(0px) rotateY(45deg);
  -ms-transform: translateY(0px) rotateY(45deg);
  -o-transform: translateY(0px) rotateY(45deg);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  left: -5px;
}
.cb-host a.cube .message h4 {
  margin: 5px 0px;
  padding: 0px;
  font-family: 'Engagement', cursive;
}
.cb-host a.cube .message p {
  margin: 0px;
  padding: 0px;
  font-family: 'Engagement', cursive;
}
.cb-host a.cube:not(.compat):hover {
  transform: rotateX(-45deg) rotateY(-45deg);
  -webkit-transform: rotateX(-45deg) rotateY(-45deg);
  -moz-transform: rotateX(-45deg) rotateY(-45deg);
  -ms-transform: rotateX(-45deg) rotateY(-45deg);
  -o-transform: rotateX(-45deg) rotateY(-45deg);
}
.cb-host a.cube:not(.compat):hover .message {
  transform: translateY(-150px) translateX(-20px) rotateY(45deg) rotateX(50deg);
  -webkit-transform: translateY(-150px) translateX(-20px) rotateY(45deg) rotateX(50deg);
  -moz-transform: translateY(-150px) translateX(-20px) rotateY(45deg) rotateX(50deg);
  -ms-transform: translateY(-150px) translateX(-20px) rotateY(45deg) rotateX(50deg);
  -o-transform: translateY(-150px) translateX(-20px) rotateY(45deg) rotateX(50deg);
}
.cb-host a.cube.compat {
  padding: 0px;
  margin: 0px;
}
.cb-host a.cube.compat .ani {
  width: 100px;
  height: 100px;
  position: absolute;
}
.cb-host a.cube.compat .ani .f.fr {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -moz-transform: perspective(1000px) rotateY(0deg);
  -ms-transform: perspective(1000px) rotateY(0deg);
  -o-transform: perspective(1000px) rotateY(0deg);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  margin: 0px;
  left: 0px;
  top: 0px;
}
.cb-host a.cube.compat .ani .message {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  -webkit-transform: perspective(1000px) rotateY(-180deg);
  -moz-transform: perspective(1000px) rotateY(-180deg);
  -ms-transform: perspective(1000px) rotateY(-180deg);
  -o-transform: perspective(1000px) rotateY(-180deg);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  width: 98px;
  height: 98px;
  margin: 0px;
  left: -5px;
  top: -5px;
}
.cb-host a.cube.compat:hover .ani .f.fr {
  transform: perspective(1000px) rotateY(180deg);
  -webkit-transform: perspective(1000px) rotateY(180deg);
  -moz-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  -o-transform: perspective(1000px) rotateY(180deg);
}
.cb-host a.cube.compat:hover .ani .message {
  transform: perspective(1000px) rotateY(0deg);
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -moz-transform: perspective(1000px) rotateY(0deg);
  -ms-transform: perspective(1000px) rotateY(0deg);
  -o-transform: perspective(1000px) rotateY(0deg);
}
